<?xml version="1.0"?>
  <config>
     <modules>
        <Royal_Testimonials>
          <version>0.1.0</version>
        </Royal_Testimonials>
     </modules>
	    <frontend>
	       <routers>
		  <routeurfrontend>
		      <use>standard</use>
		      <args>
			 <module>Royal_Testimonials</module>
			 <frontName>testimonials</frontName>
		      </args>
		   </routeurfrontend>
	       </routers>
		<layout>
		   <updates>
			<testimonials>
			     <file>testimonials.xml</file>
			 </testimonials>
		    </updates>
		</layout>
	    </frontend>
	<admin>
     <routers>
         <testimonials>
            <use>admin</use>
            <args>
               <module>Royal_Testimonials</module>
               <frontName>admintestimonials</frontName>
            </args>
         </testimonials>
      </routers>
 </admin>
 <adminhtml>
   <layout>
      <updates>
          <testimonials>
              <file>testimonials.xml</file>
           </testimonials>
      </updates>
   </layout>
   <menu>
      <testimonials translate="title" module="adminhtml">
         <title>Royal Testimonials</title>
         <sort_order>100</sort_order>
         <children>
             <index>
                   <title>Testimonials</title>
                   <action>admintestimonials/adminhtml_index</action>
              </index>
	      <category>
                   <title>Testimonials Categories</title>
                   <action>admintestimonials/adminhtml_categories</action>
              </category>
          </children>
       </testimonials>
    </menu>
</adminhtml>
<global>
	  <blocks>
		 <testimonials>
		      <class>Royal_Testimonials_Block</class>
		 </testimonials>
	   </blocks>
	   <models>
		<testimonials>
		     <class>Royal_Testimonials_Model</class>
		     <resourceModel>testimonials_mysql4</resourceModel>
		 </testimonials>
			<testimonials_mysql4>
			     <class>Royal_Testimonials_Model_Mysql4</class>
			     <entities>
				 <testimonials>
				   <table>royal_testimonials</table>
				 </testimonials>
				<categories>
				   <table>royal_categories</table>
				 </categories>
			      </entities>
			</testimonials_mysql4>
		</models>
	<resources>
	<testimonials_setup>
            <setup>
                <module>Royal_Testimonials</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </testimonials_setup>
          <testimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonials_write>
            <testimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonials_read>
        </resources>
    <helpers>
            <testimonials>
                <class>Royal_testimonials_Helper</class>
            </testimonials>
        </helpers>
	</global>
</config>
